<div class='form-wrapper'>
  <form action='/users/new' name='register_user' method='post'>
    <p>
      <label for='user'> User Name: </label>
      <input id='user_name_input' name='user[user_name]'>
    </p>
    <p>
      <label for='password_input'> Password: </label>
      <input type='password' id='password_input' name='user[password]'>
    </p>
    <p>
      <input type='submit' value='Register User!'>
    </p>
  </form>
</div>
